/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/

/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours */
::selection 	 	{background: rgb(255,255,158); text-shadow: none;}
::-moz-selection 	{background: rgb(255,255,158); text-shadow: none;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}


/*		Default Layout: 992px. 
		Columns: 68px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 992px;
	padding: 72px 48px 84px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(232,232,232);
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

#main {
	float: left;
	width: 620px; /* 7 cols */
	margin-right: 24px;
}

#sidebar {
	float: left;
	width: 252px; /* 3 cols */
}


/*		Tablet Layout: 768px.
		Columns: 68px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 768px;
		padding: 48px 28px 60px;
	}

	#main {
		width: 436px; /* 5 cols */
	}

	#sidebar {
		width: 252px; /* 3 cols */
	}

}



/*		Mobile Layout: 320px.
		Columns: 68px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 320px;
		padding: 48px 34px 60px;
	}

	#main {
		width: 100%;
		margin-right: 0;
	}

	#sidebar {
		width: 100%;
	}

}


/*		Wide Mobile Layout: 480px.
		Columns: 68px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 480px;
		padding: 36px 22px 48px;
	}

}
